@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #7aff7a;
  overflow: hidden;
}

#pitch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 74%;
  height: 100vh;
  overflow: clip;
  -webkit-box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.5);
  cursor: default;
}

#pitch-container #pitch-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pitch-container #pitch-container-top #context-h h1 {
  font-weight: 600;
}

#pitch-container #pitch-container-top #context-h h2 {
  font-weight: 400;
}

#pitch-container #pitch-container-top #context-h h4 {
  font-style: italic;
  font-weight: 300;
}

#pitch-container #pitch-container-top #context-h h1,
#pitch-container #pitch-container-top #context-h h2,
#pitch-container #pitch-container-top #context-h h4 {
  margin: 1vh;
}

#pitch-container #pitch-container-top #time-bar-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pitch-container #pitch-container-top #time-bar-container p {
  text-align: center;
}

#pitch-container #pitch-container-top #time-bar-container p label {
  font-size: smaller;
  font-weight: 500;
}

#pitch-container #pitch-container-top #time-bar-container p input {
  text-align: center;
  font-weight: 700;
  font-size: larger;
  border: 0;
}

#pitch-container #pitch-container-top #time-bar-container #time-bar {
  width: 80%;
}

#pitch-container #pitch {
  height: 70%;
  margin: 5vh auto;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

#panel-container {
  color: #707070;
  position: absolute;
  left: 74%;
  top: 0;
  width: 26%;
  height: 100%;
  overflow: hidden;
}

#panel-container #panel {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-right: 17px;
}

#panel-container #panel dl {
  margin: 3vh auto;
  margin-left: 3vw;
  max-width: 80%;
}

#panel-container #panel dl:nth-child(even) dt {
  background: #707070;
  color: white;
}

#panel-container #panel dl dt {
  background: white;
  border-left: 8px solid #131313;
  font-weight: 600;
  padding: 15px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#panel-container #panel dl dt span {
  margin-right: 5px;
}

#panel-container #panel dl dt .player-pos,
#panel-container #panel dl dt .player-num {
  font-weight: 300;
  font-size: small;
  font-style: italic;
}

#panel-container #panel dl dt .player-name {
  font-weight: 500;
  font-style: normal;
  font-size: large;
  margin-right: 10px;
}

#panel-container #panel dl dt:hover {
  cursor: pointer;
}

#panel-container #panel dl dt + dd {
  max-height: 0;
  margin-bottom: 1vh;
}

#panel-container #panel dl dt + dd .event {
  visibility: hidden;
}

#panel-container #panel dl dt.open {
  border: 4px solid #131313;
  background: #7aff7a;
}

#panel-container #panel dl dt.open + dd {
  background: white;
  max-height: 250px;
}

#panel-container #panel dl dt.open + dd .event {
  visibility: visible;
}

#panel-container #panel dl dd {
  background: #131313;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#panel-container #panel dl dd .event,
#panel-container #panel dl dd .event-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 40px;
  line-height: 40px;
  padding-left: 5%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#panel-container #panel dl dd .event .events-first,
#panel-container #panel dl dd .event-info .events-first {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#panel-container #panel dl dd .event .stat-num {
  text-align: center;
  cursor: pointer;
  height: 40px;
  width: 30px;
  padding: 5px 5px;
  margin-right: 5px;
  line-height: 30px;
  font-weight: 400;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#panel-container #panel dl dd .event .stat-num.selected {
  color: orange;
  font-weight: 900;
}

#panel-container #panel dl dd .event .stat-num:last-of-type {
  margin: 0;
}

#panel-container #panel dl dd .event-info {
  font-weight: 100;
  font-style: italic;
}
/*# sourceMappingURL=grapher_style.css.map */