{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/grapher_style.css' %}">
    <link rel="stylesheet" href="{% static 'style/custom_jui.css' %}">
    <title>FMEG</title>
</head>

<body>
    <div id="pitch-container">
        <div id="pitch-container-top">
            <div id="context-h">
                <h1></h1>
                <h2></h2>
                <h4></h4>
            </div>
            <div id="time-bar-container">
                <p>
                    <label for="amount">TIME RANGE:<br></label>
                    <input type="text" id="amount" readonly>
                </p>
                <div id="time-bar"></div>
            </div>
        </div>
        <div id="pitch"></div>
    </div>
    <div id="panel-container">
        <div id="panel">
            <dl>
                {% for p in match.teams.0.starters %}
                <dt><span class="player-pos">{{p.pos}}</span><span class="player-name">{{p.name}}</span><span
                        class="player-num">{{p.num}}</span></dt>
                <dd start="start" team_id="{{p.team}}" player_id="{{p.id}}">
                    <div class="event-info"><span class="events-first">Events</span><span>All - Success - Fail</span>
                    </div>
                    <div ?="Tackle" class="event"><span class="events-first">Tackles</span>
                        <div ?="A" class="stat-num">{{p.tackle}}</div>
                        <div ?="S" class="stat-num">{{p.tackleS}}</div>
                        <div ?="F" class="stat-num">{{p.tackleF}}</div>
                    </div>
                    <div ?="Interception" class="event"><span class="events-first">Interceptions</span>
                        <div ?="A" class="stat-num">{{p.inter}}</div>
                        <div ?="S" class="stat-num">{{p.interS}}</div>
                        <div ?="F" class="stat-num">{{p.interF}}</div>
                    </div>
                    <div ?="Dribble" class="event"><span class="events-first">Dribbles</span>
                        <div ?="A" class="stat-num">{{p.dribble}}</div>
                        <div ?="S" class="stat-num">{{p.dribbleS}}</div>
                        <div ?="F" class="stat-num">{{p.dribbleF}}</div>
                    </div>
                    <div ?="Pass" class="event"><span class="events-first">Passes</span>
                        <div ?="A" class="stat-num">{{p.pas}}</div>
                        <div ?="S" class="stat-num">{{p.pasS}}</div>
                        <div ?="F" class="stat-num">{{p.pasF}}</div>
                    </div>
                    <div ?="Shot" class="event"><span class="events-first">Shots</span>
                        <div ?="A" class="stat-num">{{p.shot}}</div>
                        <div ?="S" class="stat-num">{{p.shotS}}</div>
                        <div ?="F" class="stat-num">{{p.shotF}}</div>
                    </div>
                </dd>
                {% endfor %}
            </dl>
            <dl>
                {% for p in match.teams.0.subs %}
                <dt><span class="player-name">{{p.name}}</span></dt>
                <dd start="sub" team_id="{{p.team}}" player_id="{{p.id}}">
                    <div class="event-info"><span class="events-first">Events</span><span>All - Success - Fail</span>
                    </div>
                    <div ?="Tackle" class="event"><span class="events-first">Tackles</span>
                        <div ?="A" class="stat-num">{{p.tackle}}</div>
                        <div ?="S" class="stat-num">{{p.tackleS}}</div>
                        <div ?="F" class="stat-num">{{p.tackleF}}</div>
                    </div>
                    <div ?="Interception" class="event"><span class="events-first">Interceptions</span>
                        <div ?="A" class="stat-num">{{p.inter}}</div>
                        <div ?="S" class="stat-num">{{p.interS}}</div>
                        <div ?="F" class="stat-num">{{p.interF}}</div>
                    </div>
                    <div ?="Dribble" class="event"><span class="events-first">Dribbles</span>
                        <div ?="A" class="stat-num">{{p.dribble}}</div>
                        <div ?="S" class="stat-num">{{p.dribbleS}}</div>
                        <div ?="F" class="stat-num">{{p.dribbleF}}</div>
                    </div>
                    <div ?="Pass" class="event"><span class="events-first">Passes</span>
                        <div ?="A" class="stat-num">{{p.pas}}</div>
                        <div ?="S" class="stat-num">{{p.pasS}}</div>
                        <div ?="F" class="stat-num">{{p.pasF}}</div>
                    </div>
                    <div ?="Shot" class="event"><span class="events-first">Shots</span>
                        <div ?="A" class="stat-num">{{p.shot}}</div>
                        <div ?="S" class="stat-num">{{p.shotS}}</div>
                        <div ?="F" class="stat-num">{{p.shotF}}</div>
                    </div>
                </dd>
                {% endfor %}
            </dl>
            <dl>
                {% for p in match.teams.1.starters %}
                <dt><span class="player-pos">{{p.pos}}</span><span class="player-name">{{p.name}}</span><span
                        class="player-num">{{p.num}}</span></dt>
                <dd start="start" team_id="{{p.team}}" player_id="{{p.id}}">
                    <div class="event-info"><span class="events-first">Events</span><span>All - Success - Fail</span>
                    </div>
                    <div ?="Tackle" class="event"><span class="events-first">Tackles</span>
                        <div ?="A" class="stat-num">{{p.tackle}}</div>
                        <div ?="S" class="stat-num">{{p.tackleS}}</div>
                        <div ?="F" class="stat-num">{{p.tackleF}}</div>
                    </div>
                    <div ?="Interception" class="event"><span class="events-first">Interceptions</span>
                        <div ?="A" class="stat-num">{{p.inter}}</div>
                        <div ?="S" class="stat-num">{{p.interS}}</div>
                        <div ?="F" class="stat-num">{{p.interF}}</div>
                    </div>
                    <div ?="Dribble" class="event"><span class="events-first">Dribbles</span>
                        <div ?="A" class="stat-num">{{p.dribble}}</div>
                        <div ?="S" class="stat-num">{{p.dribbleS}}</div>
                        <div ?="F" class="stat-num">{{p.dribbleF}}</div>
                    </div>
                    <div ?="Pass" class="event"><span class="events-first">Passes</span>
                        <div ?="A" class="stat-num">{{p.pas}}</div>
                        <div ?="S" class="stat-num">{{p.pasS}}</div>
                        <div ?="F" class="stat-num">{{p.pasF}}</div>
                    </div>
                    <div ?="Shot" class="event"><span class="events-first">Shots</span>
                        <div ?="A" class="stat-num">{{p.shot}}</div>
                        <div ?="S" class="stat-num">{{p.shotS}}</div>
                        <div ?="F" class="stat-num">{{p.shotF}}</div>
                    </div>
                </dd>
                {% endfor %}
            </dl>
            <dl>
                {% for p in match.teams.1.subs %}
                <dt><span class="player-name">{{p.name}}</span></dt>
                <dd start="start" team_id="{{p.team}}" player_id="{{p.id}}">
                    <div class="event-info"><span class="events-first">Events</span><span>All - Success - Fail</span>
                    </div>
                    <div ?="Tackle" class="event"><span class="events-first">Tackles</span>
                        <div ?="A" class="stat-num">{{p.tackle}}</div>
                        <div ?="S" class="stat-num">{{p.tackleS}}</div>
                        <div ?="F" class="stat-num">{{p.tackleF}}</div>
                    </div>
                    <div ?="Interception" class="event"><span class="events-first">Interceptions</span>
                        <div ?="A" class="stat-num">{{p.inter}}</div>
                        <div ?="S" class="stat-num">{{p.interS}}</div>
                        <div ?="F" class="stat-num">{{p.interF}}</div>
                    </div>
                    <div ?="Dribble" class="event"><span class="events-first">Dribbles</span>
                        <div ?="A" class="stat-num">{{p.dribble}}</div>
                        <div ?="S" class="stat-num">{{p.dribbleS}}</div>
                        <div ?="F" class="stat-num">{{p.dribbleF}}</div>
                    </div>
                    <div ?="Pass" class="event"><span class="events-first">Passes</span>
                        <div ?="A" class="stat-num">{{p.pas}}</div>
                        <div ?="S" class="stat-num">{{p.pasS}}</div>
                        <div ?="F" class="stat-num">{{p.pasF}}</div>
                    </div>
                    <div ?="Shot" class="event"><span class="events-first">Shots</span>
                        <div ?="A" class="stat-num">{{p.shot}}</div>
                        <div ?="S" class="stat-num">{{p.shotS}}</div>
                        <div ?="F" class="stat-num">{{p.shotF}}</div>
                    </div>
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    var events = {{ match_serial | safe }};
</script>
<script src="{% static 'script/grapher_scripts.js' %}"></script>

</html>